@import 'https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

$primary_font: 'Kaushan Script', cursive;
$secondary_font: 'Arizonia', cursive;
$font_size: 35px;
$white: white;
$navbar_color: #b35900;