@import 'variables';

#navbar{
    height:10vh;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 100;
    background-color: #836960;
}

#cont{
    padding-left: 0;
    padding-right: 0;
}

#brand{
    font-family: $primary_font;
    font-size: 5rem;
    padding-top: 0;
    padding-bottom: 2px;
}

.nav-link{
    color: $white !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-size: 3rem !important;
    

}

#logout{
    
    font-size: 3rem;
}