@import "variables";


.login-box{
    width: 340px;
    min-height: 580px;
    background: #ddd;
    color: #fff;
    top: 65%;
    left: 50%;
    margin-top: 100px;
    margin-bottom: 1%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    font-family: $secondary_font;
    padding: 0 0 10px;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    color: $navbar_color;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-family: $primary_font;
    font-weight: bold;
    color: $navbar_color;
}
.login-box input{
    width: 100%;
    margin-bottom: 10px;
}
.login-box input[type="text"], input[type="password"], input[type="email"], input[type="tel"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: $navbar_color;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 16px;
    color: blue;
}
.login-box a:hover
{
    color: #39dc79;
}

#error{
    color: red;
    font-size: 15px;
}